<div class="layout">
    <div class="titleContainer">
        <h1 class="title"> {{title}} </h1>
    </div>
    <div class="titleContainer">
        <a class="link" href="{{ urlProductos }}" class="linkCatalogo" > Ver Catalogo </a>
    </div>
</div>