<div class="container">
    <div class="form">
        <h3>Cargar Producto</h3>
        <div><p>Nombre</p>
        <input type="text" name="nombre" id="nombre"></div>
        <div><p>Bodega</p><input type="text" name="bodega" id="bodega"></div>
        <div><p>Tipo</p><input type="text" name="tipo" id="tipo"></div>
        <div><p>Variedad</p><input type="text" name="variedad" id="variedad"></div>
        <div><p>Año</p><input type="number" name="año" id="ano"></div>
        <div><p>Precio</p><input type="number" name="precio" id="precio"></div>
        <button id="agregarProducto">Agregar Producto</button>
    </div>
    <div class="containProductos" id="containProducts">
        
    </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/productos.js"></script>
</div>